<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" routerLink="#">SuperJackpot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/privateOffice">Buy Ticket!<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-bets">My Bets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-tokens">My Tokens</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/wallet">Wallet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-statistics">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faq">FAQ</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()" routerLink="/home">Logout</a>
        </li>
      </ul>
    </div>
</nav>

<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>



<div id="walletContainer">
  <p>BTC: {{ amount }}</p>
  <p>ETC:  {{ (0.055 * amount).toPrecision(3) }}</p>
  <hr>
  <input id="fillUpInput" class="form-control" type="number" value="0" min ="1">
  <br>
  <button type="button" class="btn btn-dark btn-lg" (click)="fillUp()">Fill Up</button>
  <hr>
  <input id="withdrawInput" class="form-control" type="number" value="0" min ="1">
  <br>
  <button type="button" class="btn btn-dark btn-lg"  (click)="withdraw()">Withdraw</button>
</div>

<app-language-bar></app-language-bar>
