<img src="{{backgroundImage}}" style="position: fixed; width: 100%; height: 100%">

<div class="header">
  <table style="margin-left: 20px;">
    <tr>
      <td><img src="assets/img/logo_small.png" alt="logo"></td>
      <td style="padding-top: 5px; color=black;"><a routerLink="/privateOffice"><h2 style="cursor: pointer;"><b>SUPER</b>JACK<b>POT</b></h2></a></td>
    </tr>
  </table>
  <p style="font-size: 1em; padding-top: 0px; padding-left: 20px;">BLOCKCHAIN LOTTERY</p>
</div>

          <div id="navbar">
            <p><a routerLink="/privateOffice">Buy Ticket</a></p>
            <p><a routerLink="/my-bets">My Bets</a></p>
            <p><a routerLink="/my-tokens">My Tokens</a></p>
            <p><a routerLink="/my-statistics">Statistics</a></p>
            <p><a routerLink="/settings">Settings</a></p>
            <p><a routerLink="/faq">FAQ</a></p>
            <p><a (click)="logOut()" routerLink="/home">Logout</a></p>
          </div>

          <div class="container" align="center">
            <table border="0" style="margin-bottom: 50px; table-layout: auto; width: 100%;" width="100%">
              <tr>
                <td colspan="3" align="center" width="100%">
                <ul class="nav">
                  <li><button class="btn-dark top-panel-button" style="margin-left: 0px; width: 206px;" data-toggle="tab" href="#tickets">Tickets</button></li>
                  <li><button class="btn-dark top-panel-button" style="width: 206px;" data-toggle="tab" href="#rules">Rules</button></li>
                  <li><button class="btn-dark top-panel-button" style="width: 207px;" id="scratch-now" (click)="scratchNow()">Scratch NOW!</button></li>
                </ul>
              </td>
                <td align="center" style="padding-left: 80px;">
                  <h2><b>SUPER</b>JACK<b>POT</b></h2>
                </td>
              </tr>

              <tr>
                <td colspan="3" align="center">

                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="tickets" role="tabpanel">
                      <div style="margin-bottom: 5px;" *ngFor="let t of tickets; let i = index">
                        <div class="border" id="ballsContainer">
                          <!--<table id="ballsTable" cellpadding="5">
                            <tr>
                              <td *ngFor="let n of fakeBallsArray; let j = index" align="center">
                                <div class="ball" (click)="scratchCard(i, j)">
                                  <img class="card-img-top" src="{{lotteryBunner}}" >
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_{{j}}" class="hidden-number">{{tickets[i][j]}}</div>
                                </div>
                              </td>
                            </tr>
                          </table>-->
                          <table id="ballsTable" cellpadding="5">
                            <tr>
                              <td>
                                <!--<div class="ball" (click)="scratchCard(i, 0)">
                                  <img class="card-img-top" src="{{lotteryBunner}}" >
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_0" class="hidden-number">{{tickets[i][0]}}</div>
                                </div>-->

                                <div class="ball" (mouseenter)="setBall(i, 0)" >
                                  <img id="ballImage_{{i}}_0" class="card-img-top ballImage" src="{{lotteryBunner}}" (load)="drawCover(i, 0)">
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_0" class="ball-number">{{tickets[i][0]}}</div>
                                  <canvas id="scractBall_{{i}}_0" class="cnv" width="189" height="257" (mousemove)="mouseMove($event)" ></canvas>
                                </div>

                              </td>
                              <td>
                                <!--<div class="ball" (click)="scratchCard(i, 1)">
                                  <img class="card-img-top" src="{{lotteryBunner}}" >
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_1" class="hidden-number">{{tickets[i][1]}}</div>
                                </div>-->

                                <div class="ball" (mouseenter)="setBall(i, 1)">
                                  <img id="ballImage_{{i}}_1" class="card-img-top ballImage" src="{{lotteryBunner}}" (load)="drawCover(i, 1)">
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_1" class="ball-number">{{tickets[i][1]}}</div>
                                  <canvas id="scractBall_{{i}}_1" class="cnv" width="189" height="257" (mousemove)="mouseMove($event)"></canvas>
                                </div>

                              </td>
                              <td>
                                <!--<div class="ball" (click)="scratchCard(i, 2)">
                                  <img class="card-img-top" src="{{lotteryBunner}}" >
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_2" class="hidden-number">{{tickets[i][2]}}</div>
                                </div>-->

                                <div class="ball" (mouseenter)="setBall(i, 2)">
                                  <img id="ballImage_{{i}}_2" class="card-img-top ballImage" src="{{lotteryBunner}}" (load)="drawCover(i, 2)">
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_2" class="ball-number">{{tickets[i][2]}}</div>
                                  <canvas id="scractBall_{{i}}_2" class="cnv" width="190" height="257" (mousemove)="mouseMove($event)"></canvas>
                                </div>

                              </td>
                            </tr>
                            <tr>
                              <td>
                                <!--<div class="ball" (click)="scratchCard(i, 3)">
                                  <img class="card-img-top" src="{{lotteryBunner}}" >
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_3" class="hidden-number">{{tickets[i][3]}}</div>
                                </div>-->

                                <div class="ball" (mouseenter)="setBall(i, 3)">
                                  <img id="ballImage_{{i}}_3" class="card-img-top ballImage" src="{{lotteryBunner}}" (load)="drawCover(i, 3)">
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_3" class="ball-number">{{tickets[i][3]}}</div>
                                  <canvas id="scractBall_{{i}}_3" class="cnv" width="189" height="257" (mousemove)="mouseMove($event)"></canvas>
                                </div>

                              </td>
                              <td>
                                <!--<div class="ball" (click)="scratchCard(i, 4)">
                                  <img class="card-img-top" src="{{lotteryBunner}}" >
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_4" class="hidden-number">{{tickets[i][4]}}</div>
                                </div>-->

                                <div class="ball" (mouseenter)="setBall(i, 4)">
                                  <img id="ballImage_{{i}}_4" class="card-img-top ballImage" src="{{lotteryBunner}}" (load)="drawCover(i, 4)">
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_4" class="ball-number">{{tickets[i][4]}}</div>
                                  <canvas id="scractBall_{{i}}_4" class="cnv" width="190" height="257" (mousemove)="mouseMove($event)"></canvas>
                                </div>

                              </td>
                              <td>
                                <!--<div class="ball" (click)="scratchCard(i, 5)">
                                  <img class="card-img-top" src="{{lotteryBunner}}" >
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_5" class="hidden-number">{{tickets[i][5]}}</div>
                                </div>-->

                                <div class="ball" (mouseenter)="setBall(i, 5)">
                                  <img id="ballImage_{{i}}_5" class="card-img-top ballImage" src="{{lotteryBunner}}" (load)="drawCover(i, 5)">
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_5" class="ball-number">{{tickets[i][5]}}</div>
                                  <canvas id="scractBall_{{i}}_5" class="cnv" width="190" height="257" (mousemove)="mouseMove($event)"></canvas>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <!--<div class="ball" (click)="scratchCard(i, 6)">
                                  <img class="card-img-top" src="{{lotteryBunner}}" >
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_6" class="hidden-number">{{tickets[i][6]}}</div>
                                </div>-->
                                <div class="ball" (mouseenter)="setBall(i, 6)">
                                  <img id="ballImage_{{i}}_6" class="card-img-top ballImage" src="{{lotteryBunner}}" (load)="drawCover(i, 6)">
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_6" class="ball-number">{{tickets[i][6]}}</div>
                                  <canvas id="scractBall_{{i}}_6" class="cnv" width="189" height="257" (mousemove)="mouseMove($event)"></canvas>
                                </div>
                              </td>
                              <td>
                                <!--<div class="ball" (click)="scratchCard(i, 7)">
                                  <img class="card-img-top" src="{{lotteryBunner}}" >
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_7" class="hidden-number">{{tickets[i][7]}}</div>
                                </div>-->

                                <div class="ball" (mouseenter)="setBall(i, 7)">
                                  <img id="ballImage_{{i}}_7" class="card-img-top ballImage" src="{{lotteryBunner}}" (load)="drawCover(i, 7)">
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_7" class="ball-number">{{tickets[i][7]}}</div>
                                  <canvas id="scractBall_{{i}}_7" class="cnv" width="190" height="257" (mousemove)="mouseMove($event)"></canvas>
                                </div>

                              </td>
                              <td>
                                <!--<div class="ball" (click)="scratchCard(i, 8)">
                                  <img class="card-img-top" src="{{lotteryBunner}}" >
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_8" class="hidden-number">{{tickets[i][8]}}</div>
                                </div>-->

                                <div class="ball" (mouseenter)="setBall(i, 8)">
                                  <img id="ballImage_{{i}}_8" class="card-img-top ballImage" src="{{lotteryBunner}}" (load)="drawCover(i, 8)">
                                  <div *ngIf="scratchNowFlag" id="ball_{{i}}_8" class="ball-number">{{tickets[i][8]}}</div>
                                  <canvas id="scractBall_{{i}}_8" class="cnv" width="190" height="257" (mousemove)="mouseMove($event)"></canvas>
                                </div>

                              </td>
                            </tr>
                          </table>

                        </div>
                        <div *ngIf="removeButtonFlag() && !scratchNowFlag" class="ok" (click)="removeTicket(i)" style="margin-bottom: 5px;"><p>- Remove Ticket</p></div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="rules" style="text-align: justify;">
                      <div class="border" style="height:100%;">
                        <!--<p>Upon registering on SUPERJACKPOT lottery portal, you will be prompted to connect your SUPERJACKPOT account to the WalletSpace wallet; connect it at once if you have one already or start with creating your WalletSpace account and then connect your new wallet with the lottery service.</p>
                        <p>Your funds and gambling tokens are managed in «My Tokens» section.  Here you can access the following features:<br/>
                           <span style="margin-left: 10px;">•	Available tokens count data</span><br/>
                           <span style="margin-left: 10px;">•	Lottery tokens purchase</span><br/>
                           <span style="margin-left: 10px;">•	Current WalletSpace balance</span><br/>
                           <span style="margin-left: 10px;">•	WalletSpace balance top up</span><br/>
                           <span style="margin-left: 10px;">•	WalletSpace funds withdrawal to other accounts</span><br/>
                           <span style="margin-left: 10px;">•	Market data on SJP exchange rates against other major crypto and fiat currencies (USD, EUR, GBP, BTC, ETH and others)</span><br/>
                           <span style="margin-left: 10px;">•	Other WalletSpace features</span></p>
                          <p>The prize is transferred to winner’s WalletSpace account automatically.<p>
                          <p><i><u>Note:</u> Tokens are purchased for SJP cryptocurrency with an exchange rate of 1:1.</i></p>
                          <p><i><u>Note:</u> Please be aware that the lottery service owners are only responsible for Gambling Tokens level. Service owners do not take any responsibility for cryptocurrencry and fiat transactions.</i></p>
                          <p><i><u>Note:</u> SJP is purchased at Wallet Space with an exchange rate of 1 SJP:1 GBP. </i></p>
                          <p>To play the lottery, you will have to buy at least one ticket. Tickets are purchased for gambling tokens. Tokens are bought for SJP cryptocurrency at 1:1 exchange rate, with SJP coming from  your WalletSpace account. Use WalletSpace account tools (which are also available right from the lottery service portal) to top up wallet balance with your debit card and convert it to SJP.</p>
                          <p>Should you win, the payoff will be automatically transferred to your WalletSpace account in SJP. Winner has several options for managing funds:<br/>
                          <span style="margin-left: 10px;">a.	Transfer funds to a digital wallet with crypto support (Wirex, SpectroCoin) and order a debit card issued by the wallet provider.</span><br/>
                          <span style="margin-left: 10px;">b.	Use the exchange feature of your WalletSpace account to convert the funds to one of available crypto or fiat currencies. </span><br/>
                          <span style="margin-left: 10px;">c.	Convert WalletSpace funds using third party exchange services. Transaction time depends on the service, but usually does not exceed 30 minutes.</span></p>
                          <p>You can withdraw your WalletSpace money to your bank account and cash out at ATM or your bank branch.  If you chose to get a pre-paid debit card issued by certain digital wallet providers (such as Wirex, SpectroCoin), you may withdraw your cash only at ATMs (might not be available in certain countries).</p>
                          <p><i><u>Note:</u> All steps until cash withdrawal are performed online. Transaction speed is determined by specific services availability and load, but usually operations happen immediately.</i></p>
                          <h5>How to withdraw winnings to a bank account</h5>
                          <table class="table-dark" style="text-align: left;">
                            <thead>
                              <tr>
                                <th>Approach</th>
                                <th>Algorithm of actions</th>
                                <th>Comments, restrictions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>WalletSpace SJP conversion + funds transfer to the bank account</td>
                                <td>1.	Exchange SJP to fiat of choice<br/>2.	Transfer funds from WalletSpace to your debit card<br/>3.	Withdraw cash from ATM or in your bank branch(optional)</td>
                                <td>Exchange and transfer operations are performed with  WalletSpace account tools.</td>
                              </tr>
                              <tr>
                                <td>WalletSpace SJP conversion + funds transfer to Wirex or SpectroCoin account</td>
                                <td>1.	Exchange SJP to any currency supported by Wirex or SpectroCoin <br/>2.	Withdraw cash from ATM (optional)</td>
                                <td>•	Not all cryptocurrencies are currently supported by Wirex and SpectroCoin <br/> •	Due to ambiguous legal status of cryptocurrencies in some countries, there might be troubles with ordering or using Wirex or SpectroCoin debit cards.</td>
                              </tr>
                              <tr>
                                <td>WalletSpace SJP conversion + funds transfer to Wirex or SpectroCoin account + bank account transfer</td>
                                <td>1.	Exchange SJP to any currency supported by Wirex or SpectroCoin <br/>2.	Transfer funds to a bank debit card 3.	Withdraw cash from ATM or in your bank branch (optional)</td>
                                <td>•	Not all cryptocurrencies are currently supported by Wirex and SpectroCoin <br/>•	Due to ambiguous legal status of cryptocurrencies in some countries, there might be difficulties ordering or using Wirex or SpectroCoin debit cards</td>
                              </tr>
                              <tr>
                                <td>SJP conversion with third party exchange services </td>
                                <td>Conversion process is specific for each exchange service, but generally  looks like this:  <br/>	 1.	Funds are transferred to exchange service wallet.<br/> 2.	Funds are transferred back to WalletSpace account in the currency of choice.</td>
                                <td>•	Transaction time depends on the service, but usually doesn’t take more than 30 minutes<br/> •	Refund policy mostly depends on the integrity of service.<br/> •	Some exchange services may have better currency conversion rates.</td>
                              </tr>
                            </tbody>
                          </table>-->

                          <!--DEFAULT-->
                          <!--<figure id="bridgeContainer">
                            <canvas id="bridge" width="750" height="465" (mousemove)="mouseMove($event)"></canvas>
                            <figcaption>Downtown Calgary in 2013 and 1943; mouse down or touch on photo to reveal</figcaption>
                          </figure>-->
                      </div>
                    </div>
                  </div>


                </td>

                <td rowspan="1" style="padding-left: 80px;" valign="top" align="center">
                  <div class="timer">
                    <div class="card" style="width: 15rem;  margin: 0 auto; ">
                      <img id="bunner" class="card-img-top" src="{{lotteryBunner}}" alt="Card image cap">
                      <div class="lotteryTitle">{{lotteryName}}</div>
                      <div class="lotteryFunds">{{lotteryFunds}} <img style="width:24px;" src="assets/img/logo_small.png" alt="logo"></div>
                      <div class="buttonSector">
                        <div *ngIf="!scratchNowFlag" id="buyButton" class="ok" (click)="buyTickets()"><p>Buy Tickets</p></div>
                      </div>
                    </div>
                  </div>
                </td>

                <td style="vertical-align: top; padding-left: 5%;">
                  <app-cube></app-cube>
                </td>
              </tr>

              <tr>
                <td colspan="3" align="center">
                  <div *ngIf="!scratchNowFlag" class="ok" (click)="addTicket()"><p>+ Add Ticket</p></div>
                </td>
              </tr>
            </table>
          </div>






          <!--<div id="main">

          <h1>"Scratch off" image to reveal a different one</h1>

          <div><canvas id="maincanvas"></canvas></div>

          <div><input id="resetbutton" type="button" value="Reset"></div>


        </div>-->
