<app-cube style="position:absolute;margin-left:85%;margin-top:5%;"></app-cube>

<div id="background">
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="brd">
      <img src="assets/img/logo_small.png" alt="logo" align="right" style="padding: 30px;">
      <br>
      <div style="padding: 30px 80px 35px 80px;">
        <h1 style="font-size: 30px; padding-bottom: 15px;"><strong>Register</strong></h1>


        <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
        <form (ngSubmit)="onRegister()" novalidate>
         <div class="form-group">

           <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="user.email" name="email" required>
         </div>
         <div class="form-group">

           <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
         </div>
         <div class="form-group">

           <input type="password" class="form-control" id="repeat-password" placeholder="Repeat password" [(ngModel)]="repeatPassword" name="repeat-password" required>
         </div>

         <button type="submit" class="lotteryButton"><strong>Submit</strong></button>
        </form>

    </div>
    </div>
  </div>
</div>
<div style="position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;">
  <app-language-bar></app-language-bar>
</div>
</div>
