<div class="header">
  <table>
    <tr>
      <td><img src="assets/img/logo_small.png" alt="logo"></td>
      <td style="padding-top: 5px;"><h2><b>UPER</b>JACK<b>POT</b></h2></td>
    </tr>
  </table>
</div>

<div class="container">
  <table class="page-content">
    <tr>
      <td>
  <!--<div class="row">
    <div class="col">-->
        <div id="navbar">
        <p><a href="/login" style="color: grey">Home</a></p>
        <p><a href="/login">Log in</a></p>
        <p><a href="/register">Registration</a></p>
        <p><a href="/about">Rules</a></p>
        <p><a href="/public-statistics">Statistics</a></p>
        <!--<p><a href="/status">Status</a></p>-->
        </div>
      <!--</div>-->
    </td>
    <td class="banner-cell" colspan="3">
      <!--<div class="col">-->
        <div>
          <img src="assets/img/title_banner.png" id="titleBanner">
        </div>
      <!--</div>-->
    <!--</div>-->
    </td>
  </tr>
  <tr>
    <!--<td></td>
    <td>
      <tr>-->
        <td class="lottery-cell" align="center">
  <!--<div class="row">
    <div class="col">-->
          <div class="card" style="width: 15rem;  margin: 0 auto;">
            <img class="card-img-top" src="assets/img/5_36.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lottery 5x36</h5>
              <p class="card-text">
                <button class="btn btn-dark btn-sm buy-give" (click)="open('Lottery 5x36', content)">About</button>
                <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('lottery_5x36')">Buy</button>
                <button class="btn btn-dark btn-sm buy-give" >Give</button></p>
            </div>
          </div>
        <!--</div>
        <div class="col">-->
        </td>
        <td class="lottery-cell" align="center">
          <div class="card" style="width: 15rem; margin: 0 auto;">
            <img class="card-img-top" src="assets/img/6_45.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lottery 6x45</h5>
              <p class="card-text">
                <button class="btn btn-dark btn-sm buy-give" (click)="open('Lottery 6x45', content)">About</button>
                <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('lottery_6x45')">Buy</button>
                <button class="btn btn-dark btn-sm buy-give" >Give</button>
              </p>
            </div>
          </div>
        <!--</div>
        <div class="col">-->
        </td>
        <td class="lottery-cell">
          <div class="card" style="width: 15rem;  margin: 0 auto;">
            <img class="card-img-top" src="assets/img/4_20.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lottery 4x20</h5>
              <p class="card-text">
                <button class="btn btn-dark btn-sm buy-give" (click)="open('Lottery 4x20', content)">About</button>
                <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('lottery_4x20')">Buy</button>
                <button class="btn btn-dark btn-sm buy-give" >Give</button>
              </p>
            </div>
          </div>
        <!--</div>-->
        </td>
        <td class="lottery-cell">
        <!--<div class="col">-->
          <div class="card" style="width: 15rem;  margin: 0 auto;">
            <img class="card-img-top" src="assets/img/7_49.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lottery 7x49</h5>
              <p class="card-text">
                <button class="btn btn-dark btn-sm buy-give" (click)="open('Lottery 7x49', content)">About</button>
                <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('lottery_7x49')">Buy</button>
                <button class="btn btn-dark btn-sm buy-give" >Give</button>
              </p>
            </div>
          </div>
        <!--</div>-->
        </td>
      </tr>

      <tr>
        <td class="lottery-cell">
          <div class="card" style="width: 15rem;  margin: 0 auto;">
            <img class="card-img-top" src="assets/img/j_5_36.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Jackpot 5x36</h5>
              <p class="card-text">
                <button class="btn btn-dark btn-sm buy-give" (click)="open('Jackpot 5x36', content)">About</button>
                <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('jackpot_5x36')">Buy</button>
                <button class="btn btn-dark btn-sm buy-give" >Give</button>
              </p>
            </div>
          </div>
        </td>
        <td class="lottery-cell">
          <div class="card" style="width: 15rem;  margin: 0 auto;">
            <img class="card-img-top" src="assets/img/j_6_45.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Jackpot 6x45</h5>
              <p class="card-text">
                <button class="btn btn-dark btn-sm buy-give" (click)="open('Jackpot 6x45', content)">About</button>
                <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('jackpot_6x45')">Buy</button>
                <button class="btn btn-dark btn-sm buy-give" >Give</button>
              </p>
            </div>
          </div>
        </td>
        <td class="lottery-cell">
          <div class="card" style="width: 15rem;  margin: 0 auto;">
            <img class="card-img-top" src="assets/img/j_4_20.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Jackpot 4x20</h5>
              <p class="card-text">
                <button class="btn btn-dark btn-sm buy-give" (click)="open('Jackpot 4x20', content)">About</button>
                <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('jackpot_4x20')">Buy</button>
                <button class="btn btn-dark btn-sm buy-give" >Give</button>
              </p>
            </div>
          </div>
        </td>
        <td class="lottery-cell">
          <div class="card" style="width: 15rem;  margin: 0 auto;">
            <img class="card-img-top" src="assets/img/j_7_49.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Jackpot 7x49</h5>
              <p class="card-text">
                <button class="btn btn-dark btn-sm buy-give" (click)="open('Jackpot 7x49', content)">About</button>
                <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('jackpot_7x49')">Buy</button>
                <button class="btn btn-dark btn-sm buy-give" >Give</button>
              </p>
            </div>
          </div>
        </td>
      <!--</tr>
    </td>-->
  </tr>
</table>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><b>Prize</b></p>
    <p>
      The current prize pool is 1000 SJP. The more the participants, the bigger the prize fund!
    </p>
    <p><b>Participation & Rules</b></p>
    <p>
      To participate in the lottery, you need to choose {{combinationSize}} numbers from 1 to {{maxNumber}} in your lottery ticket, or select the magic wand icon to allow the random number generator to choose the numbers for you. The number of tickets that you can buy is almost unlimited. However, using automated software tools for buying tickets or filling them out is prohibited.
      The cost of one ticket is {{ticketCost}} SJP. Your prize is transferred to your Wallet Space in SJP. Later you can transfer your funds to another online wallet or to fiat. You can get more info about it as well as about Wallet Space in section “My Tokens”.<br>
      {{lotteryGrequencyDescription}}
    </p>
    <p><b>Ticket Price</b></p>
    <p>
      The cost of one ticket is {{ticketCost}} SJP.
    </p>
    <p><b>Taxes</b></p>
    <p>
      Fire Lotto does not act as a tax agent. The responsibility to pay taxes lies with the owner of the cryptocurrency wallet to which the winnings were transferred – Wallet Space.
    </p>
    <p><b>Agreement</b></p>
    <p>
      By participating in the lottery, you agree to the lottery rules. By purchasing the lottery tickets, you guarantee that you are 18 years of age and/or you have reached the minimum age for legally participating in the lottery in your country of residence.
    </p>  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
