.header {
  margin-top: 20px;
}

.header img {
  width: 39px;
  height: 34px;
}

.page-content td {
  vertical-align: top;
  padding: 20px;
}

.banner-cell {
  /*padding-top: 25px;*/
  /*padding-left: 25px;*/
}

#titleBanner {
  width: 50rem;
}

.lottery-cell {
  /*padding: 5px;*/
  /*align: "center";*/
  text-align: center;
  align-content: center;
  align-items: center;
  padding-top: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 13pt;
  text-shadow: 1px 1px 8px #ffffff;
  /*font-family: Arial, Helvetica, sans-serif;*/
}

a:hover {
  color: grey;
}

a:active {
  color: grey;
}

p {
  margin-bottom: 10px;
}

#navbar {
  margin-top: 20px;
}

.buy-give {
  width: 60px;
  margin-left: 2px;
}

h5 {
  margin-left: 40px;
}
