<div class="header">
  <table style="margin-left: 50px;">
    <tr>
      <td><img src="assets/img/logo_small.png" alt="logo"></td>
      <td style="padding-top: 5px;"><h2><b>SUPER</b>JACK<b>POT</b></h2></td>
    </tr>
  </table>
</div>

<!--<div class="container">-->
  <table class="page-content">
    <tr>
      <td width="50px;" style="padding-top: 10%;">
        <div id="navbar">
          <p><a routerLink="/login" style="color: grey">Home</a></p>
          <p><a routerLink="/login">Log in</a></p>
          <p><a routerLink="/register">Registration</a></p>
          <p><a routerLink="/about">Rules</a></p>
          <p><a routerLink="/public-statistics">Statistics</a></p>
        </div>
    </td>
    <td class="banner-cell" colspan="3" align="center" style="padding-top: 10%;">
        <!--<div>
          <img src="assets/img/title_banner.png" id="titleBanner">
        </div>-->
        <!--<div class="slider-holder">
          <span id="slider-image-1"></span>
          <span id="slider-image-2"></span>
          <div class="image-holder">
              <img src="assets/img/bannermega_1.jpg" class="slider-image" />
              <img src="assets/img/bannermega_3.jpg" class="slider-image" />
          </div>
          <div class="button-holder">
              <a href="#slider-image-1" class="slider-change"></a>
              <a href="#slider-image-2" class="slider-change"></a>
          </div>
      </div>-->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/bannermega_1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block banner-text ">
              <p>{{superjackpot_value}} SJP</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/bannermega_3.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block banner-text ">
              <p>{{superjackpot_value}} SJP</p>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td style="padding-left: 12%; padding-top: 10%;">
      <div class="cube">
        <div class="side" id="side-1" (click)="goLogin('jackpot_4x21')"><img style="width: inherit;" src="assets/img/4_21_small.jpg"></div>
        <div class="side" id="side-2" (click)="goLogin('jackpot_6x45')"><img style="width: inherit;" src="assets/img/6_45_small.jpg"></div>
        <div class="side" id="side-3" (click)="goLogin('jackpot_5x36')"><img style="width: inherit;" src="assets/img/5_36_small.jpg"></div>
        <div class="side" id="side-4" (click)="goLogin('rapidos')"><img style="width: inherit;" src="assets/img/rapidos_small.jpg"></div>
        <div class="side" id="side-5" (click)="goLogin('top3')"><img style="width: inherit;" src="assets/img/top3_small.jpg"></div>
        <div class="side" id="side-6" (click)="goLogin('supers')"><img style="width: inherit;" src="assets/img/supers_small.jpg"></div>
      </div>
    </td>
  </tr>
      <tr>
        <td style="width: 100%"></td>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><b>SUPER</b>JACK<b>POT&nbsp;&nbsp;&nbsp;{{superjackpot_value}} SJP</b></legend>
            <label class="lotteryLabel">Win multimillion jackpots ...</label>
            <div class="control-group">
              <td class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a (click)="goLogin('jackpot_4x21')" style="cursor: pointer;">
                    <img class="card-img-top" src="assets/img/4_21.jpg" alt="Card image cap">
                  </a>
                  <!--<div class="card-body">
                    <h5 class="card-title">Jackpot 4x21</h5>
                    <p class="card-text">
                      <button class="btn btn-dark btn-sm buy-give" (click)="open('Jackpot 4x21', content)">Rules</button>
                      <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('jackpot_4x21')">Buy</button>
                      <button class="btn btn-dark btn-sm buy-give" >Give</button>
                    </p>
                  </div>-->
                  <div class="lotteryTitle">JACK<b>POT</b> 4x21</div>
                  <div class="lotteryFunds">{{jackpot_4_21_value}} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Jackpot 4x21', content)">Rules</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" (click)="goLogin('jackpot_4x21')">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" >Give</button></div>
                  </div>
                </div>
              </td>
              <td class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a (click)="goLogin('jackpot_5x36')" style="cursor: pointer;">
                    <img class="card-img-top" src="assets/img/5_36.jpg" alt="Card image cap">
                    </a>
                  <!--<div class="card-body">
                      <h5 class="card-title">Jackpot 5x36</h5>
                    <p class="card-text">
                      <button class="btn btn-dark btn-sm buy-give" (click)="open('Jackpot 5x36', content)">Rules</button>
                      <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('jackpot_5x36')">Buy</button>
                      <button class="btn btn-dark btn-sm buy-give" >Give</button>
                    </p>
                  </div>-->
                  <div class="lotteryTitle">JACK<b>POT</b> 5x36</div>
                  <div class="lotteryFunds">{{jackpot_5_36_value}} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Jackpot 5x36', content)">Rules</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" (click)="goLogin('jackpot_5x36')">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" >Give</button></div>
                  </div>
                </div>
              </td>
              <td class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a (click)="goLogin('jackpot_6x45')" style="cursor: pointer;">
                    <img class="card-img-top" src="assets/img/6_45.jpg" alt="Card image cap">
                  </a>
                  <!--<div class="card-body">
                      <h5 class="card-title">Jackpot 6x45</h5>
                    <p class="card-text">
                      <button class="btn btn-dark btn-sm buy-give" (click)="open('Jackpot 6x45', content)">Rules</button>
                      <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('jackpot_6x45')">Buy</button>
                      <button class="btn btn-dark btn-sm buy-give" >Give</button>
                    </p>
                  </div>-->
                  <div class="lotteryTitle">JACK<b>POT</b> 6x45</div>
                  <div class="lotteryFunds">{{jackpot_6_45_value}} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Jackpot 6x45', content)">Rules</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" (click)="goLogin('jackpot_6x45')">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" >Give</button></div>
                  </div>
                </div>
              </td>
            </div>
        </fieldset>
      </tr>

      <tr>
        <td></td>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">INSTANT<b>LOTTO</b></legend>
            <label class="lotteryLabel">Win every 5 minutes ...</label>
            <div class="control-group">
              <td class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a (click)="goLogin('rapidos')" style="cursor: pointer;">
                    <img class="card-img-top" src="assets/img/rapidos.jpg" alt="Card image cap">
                  </a>
                  <div class="lotteryTitle">RAPI<b>DOS</b></div>
                  <div class="lotteryFunds">{{rapidos_value}} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Rapidos', content)">Rules</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" (click)="goLogin('rapidos')">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" >Give</button></div>
                  </div>
                  <!--<div class="card-body">
                    <h5 class="card-title">Rapidos</h5>
                    <p class="card-text">
                      <button class="btn btn-dark btn-sm buy-give" (click)="open('Rapidos', content)">Rules</button>
                      <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('rapidos')">Buy</button>
                      <button class="btn btn-dark btn-sm buy-give" >Give</button>
                    </p>
                  </div>-->
                </div>
              </td>
              <td class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a (click)="goLogin('supers')" style="cursor: pointer;">
                    <img class="card-img-top" src="assets/img/supers.jpg" alt="Card image cap">
                  </a>
                  <div class="lotteryTitle">SUPER<b>S</b></div>
                  <div class="lotteryFunds">{{supers_value}} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Supers', content)">Rules</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" (click)="goLogin('supers')">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" >Give</button></div>
                  </div>
                  <!--<div class="card-body">
                    <h5 class="card-title">Supers</h5>
                    <p class="card-text">
                      <button class="btn btn-dark btn-sm buy-give" (click)="open('Supers', content)">Rules</button>
                      <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('supers')">Buy</button>
                      <button class="btn btn-dark btn-sm buy-give" >Give</button>
                    </p>
                  </div>-->
                </div>
              </td>
              <td class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a (click)="goLogin('top3')" style="cursor: pointer;">
                    <img class="card-img-top" src="assets/img/top3.jpg" alt="Card image cap">
                  </a>
                  <div class="lotteryTitle">TOP<b>3</b></div>
                  <div class="lotteryFunds">{{top3_value}} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Top3', content)">Rules</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" (click)="goLogin('top3')">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" >Give</button></div>
                  </div>
                  <!--<div class="card-body">
                    <h5 class="card-title">Top3</h5>
                    <p class="card-text">
                      <button class="btn btn-dark btn-sm buy-give" (click)="open('Top3', content)">Rules</button>
                      <button class="btn btn-dark btn-sm buy-give" (click)="goLogin('top3')">Buy</button>
                      <button class="btn btn-dark btn-sm buy-give" >Give</button>
                    </p>
                  </div>-->
                </div>
              </td>
            </div>
        </fieldset>
      </tr>

    </table>
<!--</div>-->


<!--<fieldset class="scheduler-border">
    <legend class="scheduler-border">Start Time</legend>
    <div class="control-group">
        <label class="control-label input-label" for="startTime">Start :</label>
        <div class="controls bootstrap-timepicker">
            <input type="text" class="datetime" type="text" id="startTime" name="startTime" placeholder="Start Time" />
            <i class="icon-time"></i>
        </div>
    </div>
</fieldset>-->




<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><b>Prize</b></p>
    <p>
      The current prize pool is 1000 SJP. The more the participants, the bigger the prize fund!
    </p>
    <p><b>Participation & Rules</b></p>
    <p>
      To participate in the lottery, you need to choose {{combinationSize}} numbers from 1 to {{maxNumber}} in your lottery ticket, or select the magic wand icon to allow the random number generator to choose the numbers for you. The number of tickets that you can buy is almost unlimited. However, using automated software tools for buying tickets or filling them out is prohibited.
      The cost of one ticket is {{ticketCost}} SJP. Your prize is transferred to your Wallet Space in SJP. Later you can transfer your funds to another online wallet or to fiat. You can get more info about it as well as about Wallet Space in section “My Tokens”.<br>
      {{lotteryGrequencyDescription}}
    </p>
    <p><b>Ticket Price</b></p>
    <p>
      The cost of one ticket is {{ticketCost}} SJP.
    </p>
    <p><b>Taxes</b></p>
    <p>
      Fire Lotto does not act as a tax agent. The responsibility to pay taxes lies with the owner of the cryptocurrency wallet to which the winnings were transferred – Wallet Space.
    </p>
    <p><b>Agreement</b></p>
    <p>
      By participating in the lottery, you agree to the lottery rules. By purchasing the lottery tickets, you guarantee that you are 18 years of age and/or you have reached the minimum age for legally participating in the lottery in your country of residence.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
