.main-nav {
  position: fixed;
  z-index: 10;
}

.main-nav-item {
 text-decoration: none;
 font-weight: bold;
 color: black;
 font-size: 13pt;
 text-shadow: 1px 1px 8px #ffffff;
 outline: none;
}

.main-nav-item:hover {
 color: grey !important;
}

.main-nav-item:focus {
  background-color: #000000;
  color: #ffffff !important;
}

.main-nav-item:active {
  color: grey !important;
  background: transparent;
}

p {
 margin-bottom: 10px;
}
