#tokensContainer {
  margin-top: 50px;
}

input {
  width: 100px;
}

#walletContainer table tr td {
  padding-right: 50px;
}

#walletContainer table tr td button {
  width: 100px;
}

button {
  border-radius: 0;
  background-color: #000;
  border: 1px solid #000;
}

button:hover {
  background-color: #fff;
  color: #000;
}
