#tokensContainer {
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 100px;
}

input {
  width: 100px;
}

#walletContainer table tr td {
  padding-right: 50px;
}

#walletContainer table tr td button {
  width: 100px;
}
