<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" routerLink="#">SuperJackpot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/privateOffice">Buy Ticket!<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-bets">My Bets</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/my-tokens">My Tokens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-statistics">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faq">FAQ</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()" routerLink="/home">Logout</a>
        </li>
      </ul>
    </div>
</nav>

<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>

<div align="center" style="margin-top: 20px;">
  <img src="assets/img/title_banner.png" id="titleBanner">
</div>

<div id="tokensContainer">
  <h4>Tokens amount: {{ amount }}</h4>
  <hr>
  <input id="tokensInput" class="form-control" type="number" value="0" (change)="calculateCost()" min ="1">
  <br>
  <p>BTC: {{ cost.toPrecision(3) }}</p>
  <p>ETC: {{ (0.055 * cost).toPrecision(3) }}</p>
  <button type="button" class="btn btn-dark btn-lg" (click)="buy()">Buy!</button>
  <hr>
  <button type="button" class="btn btn-dark" (click)="open(content)">Wallet</button>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Wallet</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li>The won funds are transferred to this wallet</li>
      <li>The funds on this wallet allows you to buy Lottery Tokens</li>
      <li><a href="https://walletspace.io/" target="_blank">More information about Wallet Space</a></li>
    </ul>
    <hr>
    <ngb-alert *ngIf="walletErrorMessage" type="danger" (close)="walletErrorMessage = null">{{ walletErrorMessage }}</ngb-alert>
    <div id="walletContainer">
      <table>
        <tr>
          <td>
            <p>BTC: {{ walletAmount }}</p>
            <p>ETC:  {{ (0.055 * walletAmount).toPrecision(3) }}</p>
          </td>
      <td>
        <input id="fillUpInput" class="form-control" type="number" value="0" min ="1">
        <br>
        <button type="button" class="btn btn-dark" (click)="fillUp()">Fill Up</button>
      </td>
      <td>
        <input id="withdrawInput" class="form-control" type="number" value="0" min ="1">
        <br>
        <button type="button" class="btn btn-dark"  (click)="withdraw()">Withdraw</button>
      </td>
      </tr>
    </table>
    </div>
  </div>
  <div class="modal-footer">
    <button id="saveButton" type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>-->


<div class="header">
  <table style="margin-left: 50px;">
    <tr>
      <td><img src="assets/img/logo_small.png" alt="logo"></td>
      <td style="padding-top: 5px;"><h2><b>SUPER</b>JACK<b>POT</b></h2></td>
    </tr>
  </table>
</div>

  <table class="page-content">
    <tr>
      <td width="50px;" style="padding-top: 10%;">
        <div id="navbar">
          <p><a routerLink="/privateOffice">Buy Ticket</a></p>
          <p><a routerLink="/my-bets">My Bets</a></p>
          <p><a routerLink="/my-tokens" style="color: grey">My Tokens</a></p>
          <p><a routerLink="/my-statistics">Statistics</a></p>
          <p><a routerLink="/settings">Settings</a></p>
          <p><a routerLink="/faq">FAQ</a></p>
          <p><a (click)="logOut()" routerLink="/home">Logout</a></p>
        </div>
    </td>
    <td class="banner-cell"  align="center" style="padding-top: 10%;">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="879px;">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/bannermega_1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block banner-text ">
              <p>{{superjackpot_value}} SJP</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/bannermega_3.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block banner-text ">
              <p>{{superjackpot_value}} SJP</p>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td style="padding-left: 12%; padding-top: 10%;">
      <div class="cube">
        <div class="side" id="side-1" (click)="buyTicketRedirect('jackpot_4x21')"><img style="width: inherit;" src="assets/img/4_21_small.jpg"></div>
        <div class="side" id="side-2" (click)="buyTicketRedirect('jackpot_6x45')"><img style="width: inherit;" src="assets/img/6_45_small.jpg"></div>
        <div class="side" id="side-3" (click)="buyTicketRedirect('jackpot_5x36')"><img style="width: inherit;" src="assets/img/5_36_small.jpg"></div>
        <div class="side" id="side-4" (click)="buyTicketRedirect('rapidos')"><img style="width: inherit;" src="assets/img/rapidos_small.jpg"></div>
        <div class="side" id="side-5" (click)="buyTicketRedirect('top3')"><img style="width: inherit;" src="assets/img/top3_small.jpg"></div>
        <div class="side" id="side-6" (click)="buyTicketRedirect('supers')"><img style="width: inherit;" src="assets/img/supers_small.jpg"></div>
      </div>
    </td>
  </tr>
      <tr>
        <td style="width: 100%"></td>
            <div class="control-group">
              <div style="width: 887px">


                <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>

                <div id="tokensContainer">
                  <h4>Tokens amount: {{ amount }}</h4>
                  <hr>
                  <input id="tokensInput" class="form-control" type="number" value="0" (change)="calculateCost()" min ="1">
                  <br>
                  <p>BTC: {{ cost.toPrecision(3) }}</p>
                  <p>ETC: {{ (0.055 * cost).toPrecision(3) }}</p>
                  <button type="button" class="btn btn-dark btn-lg" (click)="buy()">Buy!</button>
                  <hr>
                  <button type="button" class="btn btn-dark" (click)="open(content)">Wallet</button>
                </div>

                <ng-template #content let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h4 class="modal-title">Wallet</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <ul>
                      <li>The won funds are transferred to this wallet</li>
                      <li>The funds on this wallet allows you to buy Lottery Tokens</li>
                      <li><a href="https://walletspace.io/" target="_blank">More information about Wallet Space</a></li>
                    </ul>
                    <hr>
                    <ngb-alert *ngIf="walletErrorMessage" type="danger" (close)="walletErrorMessage = null">{{ walletErrorMessage }}</ngb-alert>
                    <div id="walletContainer">
                      <table>
                        <tr>
                          <td>
                            <p>BTC: {{ walletAmount }}</p>
                            <p>ETC:  {{ (0.055 * walletAmount).toPrecision(3) }}</p>
                          </td>
                      <td>
                        <input id="fillUpInput" class="form-control" type="number" value="0" min ="1">
                        <br>
                        <button type="button" class="btn btn-dark" (click)="fillUp()">Fill Up</button>
                      </td>
                      <td>
                        <input id="withdrawInput" class="form-control" type="number" value="0" min ="1">
                        <br>
                        <button type="button" class="btn btn-dark"  (click)="withdraw()">Withdraw</button>
                      </td>
                      </tr>
                    </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button id="saveButton" type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                  </div>
                </ng-template>


              </div>
            </div>
      </tr>

    </table>
