<!--<div class="header">
  <table style="margin-left: 20px;">
    <tr>
      <td><img src="assets/img/logo_small.png" alt="logo"></td>
      <td style="padding-top: 5px;"><a  tabindex="-1" href="/#"><h5 style="cursor: pointer; color=black;" class="gilroy-light"><span class="gilroy-extra-bold">SUPER</span>JACK<span class="gilroy-extra-bold">POT</span></h5></a></td>
    </tr>
  </table>
  <p style="font-size: 1em; padding-top: 0px; padding-left: 20px;">BLOCKCHAIN LOTTERY</p>
</div>-->
<app-header></app-header>
<div class="navbar">
    <app-navbar-registered></app-navbar-registered>
</div>
  <div class="page-content" border="1">
    <div class="content-block">
    <div class="banner-cell" colspan="3" align="center">
      <app-main-bunner></app-main-bunner>
    </div>

      <div class="lottery-block">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><span class="gilroy-extra-bold">SUPER</span>JACK<span class="gilroy-extra-bold">POT&nbsp;{{superjackpot_value}} SJP</span></legend>
            <label class="lotteryLabel2">Win multimillion jackpots ...</label>
            <div class="control-group">
              <div class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a (click)="buyTicketRedirect('jackpot_4x21', 'no')" style="cursor: pointer;">
                    <img class="card-img-top" src="assets/img/4_21.jpg" alt="Card image cap">
                  </a>
                  <div class="lotteryTitle">JACK<span class="gilroy-extra-bold">POT</span> 4x21</div>
                  <div class="lotteryCounter">{{jackpot_4_21_counter}}</div>
                  <div class="lotteryFunds">{{jackpot_4_21_value}} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Jackpot 4x21', 'about', content)">Rules</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" (click)="buyTicketRedirect('jackpot_4x21', 'no')">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" id="present" (click)="buyTicketRedirect('jackpot_4x21', 'yes')">Present</button></div>
                  </div>
                </div>
              </div>
              <div class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a (click)="buyTicketRedirect('jackpot_5x36', 'no')" style="cursor: pointer;">
                    <img class="card-img-top" src="assets/img/5_36.jpg" alt="Card image cap">
                    </a>
                  <div class="lotteryTitle">JACK<span class="gilroy-extra-bold">POT</span> 5x36</div>
                  <div class="lotteryCounter">{{jackpot_5_36_counter}}</div>
                  <div class="lotteryFunds">{{jackpot_5_36_value}} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Jackpot 5x36', 'about', content)">Rules</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" (click)="buyTicketRedirect('jackpot_5x36', 'no')">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" id="present" (click)="buyTicketRedirect('jackpot_5x36', 'yes')">Present</button></div>
                  </div>
                </div>
              </div>
              <div class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a (click)="buyTicketRedirect('jackpot_6x45', 'no')" style="cursor: pointer;">
                    <img class="card-img-top" src="assets/img/6_45.jpg" alt="Card image cap">
                  </a>
                  <div class="lotteryTitle">JACK<span class="gilroy-extra-bold">POT</span> 6x45</div>
                  <div class="lotteryCounter">{{jackpot_6_45_counter}}</div>
                  <div class="lotteryFunds">{{jackpot_6_45_value}} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Jackpot 6x45', 'about', content)">Rules</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" (click)="buyTicketRedirect('jackpot_6x45', 'no')">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" id="present" (click)="buyTicketRedirect('jackpot_6x45', 'yes')">Present</button></div>
                  </div>
                </div>
              </div>
            </div>
        </fieldset>
      </div>

      <div class="lottery-block">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">INSTANT<span class="gilroy-extra-bold">LOTTO</span></legend>
            <label class="lotteryLabel2">These are the fastest lotteries. Ways to win - a great many. You can become a Winner, even if you do not guess a single number. You decide how to participate, how many numbers to note, and, of course, how much You want to win.<br/>The choice is Yours!</label>
            <div class="control-group">
              <div class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a (click)="buyTicketRedirect('rapidos', 'no')" style="cursor: pointer;">
                    <img class="card-img-top" src="assets/img/rapidos.jpg" alt="Card image cap">
                  </a>
                  <div class="lotteryTitle">RAPI<span class="gilroy-extra-bold">DOS</span></div>
                  <div class="lotteryCounter">{{rapidos_counter}}</div>
                  <div class="lotteryFunds">{{rapidos_value}} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Rapidos', 'about', content)">Rules</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" (click)="buyTicketRedirect('rapidos', 'no')">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" id="present" (click)="buyTicketRedirect('rapidos', 'yes')">Present</button></div>
                  </div>
                </div>
              </div>
              <div class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a (click)="buyTicketRedirect('two_numbers', 'no')" style="cursor: pointer;">
                    <img class="card-img-top" src="assets/img/supers.jpg" alt="Card image cap">
                  </a>
                  <div class="lotteryTitle">TWO <span class="gilroy-extra-bold">NUMBERS</span></div>
                  <div class="lotteryCounter">{{two_numbers_counter}}</div>
                  <div class="lotteryFunds">{{two_numbers_value}} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Two Numbers', 'about', content)">Rules</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" (click)="buyTicketRedirect('two_numbers', 'no')">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" id="present" (click)="buyTicketRedirect('two_numbers', 'yes')">Present</button></div>
                  </div>
                </div>
              </div>
              <div class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a (click)="buyTicketRedirect('prize_jackpot', 'no')" style="cursor: pointer;">
                    <img class="card-img-top" src="assets/img/prize_jackpot.jpg" alt="Card image cap">
                  </a>
                  <div class="lotteryTitle">PRIZE&<span class="gilroy-extra-bold">JACKPOT</span></div>
                  <div class="lotteryCounter">{{prize_jackpot_counter}}</div>
                  <div class="lotteryFunds">{{prize_jackpot_value}} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Prize&Jackpot', 'about', content)">Rules</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" (click)="buyTicketRedirect('prize_jackpot', 'no')">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" id="present" (click)="buyTicketRedirect('prize_jackpot', 'yes')">Present</button></div>
                  </div>
                </div>
              </div>
            </div>
        </fieldset>
      </div>

      <div class="lottery-block">

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">SCRATCH <span class="gilroy-extra-bold">LOTTERIES</span></legend>
            <label class="lotteryLabel"></label>
            <div class="control-group">
              <div class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a style="cursor: pointer;" (click)="buyScratch('fruity', 'no')">
                    <img class="card-img-top" src="assets/img/33.jpg" alt="Card image cap">
                  </a>
                  <div class="lotteryTitle"><span class="gilroy-extra-bold">Fruity</span></div>
                  <div class="lotteryCounter">Any Time</div>
                  <div class="lotteryFunds">{{ fruity_value }} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('Fruity', 'about', content)">Rules</button></div>
                    <div class="buttonDiv"><button (click)="buyScratch('fruity', 'no')" class="lotteryButton">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" id="present" (click)="buyScratch('fruity', 'yes')" class="lotteryButton">Present</button></div>
                  </div>
                </div>
              </div>
              <div class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a style="cursor: pointer;" (click)="buyScratch('100CASH', 'no')">
                    <img class="card-img-top" src="assets/img/100000CASH.jpg" alt="Card image cap">
                  </a>
                  <div class="lotteryTitle">100'000 <span class="gilroy-extra-bold">CASH</span></div>
                  <div class="lotteryCounter">Any Time</div>
                  <div class="lotteryFunds">{{ s100cash_value }} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('100`000 CASH', 'about', content)">Rules</button></div>
                    <div class="buttonDiv"><button (click)="buyScratch('100CASH', 'no')" class="lotteryButton">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" id="present" (click)="buyScratch('100CASH', 'yes')" class="lotteryButton">Present</button></div>
                  </div>
                </div>
              </div>
              <div class="lottery-cell">
                <div class="card" style="width: 15rem;  margin: 0 auto;">
                  <a style="cursor: pointer;" (click)="buyScratch('777', 'no')">
                    <img class="card-img-top" src="assets/img/top3.jpg" alt="Card image cap">
                  </a>
                  <div class="lotteryTitle"><span class="gilroy-extra-bold">777</span></div>
                  <div class="lotteryCounter">Any Time</div>
                  <div class="lotteryFunds">{{ s777_value }} SJP</div>
                  <div class="buttonSector">
                    <div class="buttonDiv"><button class="lotteryButton" (click)="open('777', 'about', content)">Rules</button></div>
                    <div class="buttonDiv"><button (click)="buyScratch('777', 'no')" class="lotteryButton">Buy</button></div>
                    <div class="buttonDiv"><button class="lotteryButton" id="present" (click)="buyScratch('777', 'yes')">Present</button></div>
                  </div>
                </div>
              </div>
            </div>
        </fieldset>
        </div>
      </div>

      <div class="lottery-cube">
        <app-cube></app-cube>
      </div>


    </div>


    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">
        <div *ngIf="lottery_description == 1">
        <p>The 4x21 SJP Lottery has a minimum guaranteed Jackpot of {{jackpot_4_21_value}} SJP.</p>
        <hr/>
        <p><b>Time</b></p>
        <p>Drawings are held daily, at 02:00, 05:00, 08:00, 11:00, 14:00, 17:00, 20:00 and 23:00 GMT. The time of the current drawing is indicated on the Lottery ticket. Ticket sales end 15 minutes before the drawing. After that time, any tickets purchased will be played in the following drawing.
        <hr/>
        <p><b>Participation & Rules</b></p>
        <p>To participate in the Lottery, you need to choose 4 numbers from 1 to 21 in your Lottery ticket, or select the Random icon to allow the random number generator to choose the numbers for you. The number of tickets that you can buy is almost unlimited. However, using automated software tools for buying tickets or filling them out is prohibited. The cost of one ticket is 1 SJP. Your Prize will be automatically transferred to your SJP Wallet in SJP. Later you can transfer your funds to another online wallet or to fiat. You can get more info about it as well as about SJP Wallet in section “My Tokens”.
          <hr/>
        <p><b>Distribution of Funds</b></p>
        The price of one ticket  -  1 SJP
        Funds collected from ticket sales for each drawing are distributed as follows:
        21% of the Prize pool is always transferred to the SuperJackpot Prize Fund.
        SuperJackpot is played on the 21st of each month at 21:21 GMT.
        70% goes to the Prize pool for the current drawing:<br/>
        The distribution of the Prize pool by the number of guessed numbers<br/>
        2 - 32% of the Prize Pool / The number of Players who matched 2 numbers<br/>
        3	- 33% of the Prize Pool / The number of Players who matched 3 numbers<br/>
        4	- 35% of the Prize Pool – Jackpot<br/>
        9% are used to cover technical and operating expenses.<hr/>
        <p><b>Jackpot</b></p>
        35% of the Prize pool (Category 4) are always rolled over to the Jackpot for the following drawing. The Jackpot built up over the previous drawings is divided between the  Owners of the tickets with 4 matching numbers. If there are no such tickets, the current Jackpot is rolled over to the Jackpot for the following drawing. In category 2, 3 the winning amount is divided by the number of Winners in this category. If there are no Winners, then the Prize pool of these categories also goes to the Jackpot of the following drawing.<hr/>
        <p><b>Casting</b></p>
        The translation of the drawing is conducted on the site SUPERJACKPOT.ONLINE<hr/>
        <p><b>Taxes</b></p>
        SJP Lotto does not act as a tax agent. The responsibility to pay taxes lies with the Owner of the cryptocurrency wallet to which the winnings were transferred – SJP Wallet.<hr/>
        <p><b>Agreement</b></p>
        By participating in the SJP Lotteries, you agree to the SJP Lotteries rules. By purchasing the SJP Lotteries tickets, you guarantee that you are 18 years of age and/or you have reached the minimum age for legally participating in the Lottery in your country of residence.
      </div>

    <div *ngIf="lottery_description == 2">
      <p>The 5x36 SJP Lottery has a minimum guaranteed Jackpot of {{jackpot_5_36_value}} SJP.</p>
      <hr/>
      <p><b>Time</b></p>
      Drawings are held daily, at 04:00, 10:00, 16:00 and 22:00 GMT.
      The time of the current drawing is indicated on the Lottery ticket. Ticket sales end 15 minutes before the drawing. After that time, any tickets purchased will be played in the following drawing.
      <hr/>
      <p><b>Participation & Rules</b></p>
      To participate in the Lottery, you need to choose 5 numbers from 1 to 36 in your Lottery ticket, or select the Random icon to allow the random number generator to choose the numbers for you. The number of tickets that you can buy is almost unlimited. However, using automated software tools for buying tickets or filling them out is prohibited. The cost of one ticket is 1 SJP. Your Prize will be automatically transferred to your SJP Wallet in SJP. Later you can transfer your funds to another online wallet or to fiat. You can get more info about it as well as about SJP Wallet in section “My Tokens”.
      <hr/>
      <p><b>Distribution of Funds</b></p>
      The price of one ticket  -  2 SJP
      Funds collected from ticket sales for each drawing are distributed as follows:
      21% of the Prize pool is always transferred to the SuperJackpot Prize Fund.
      SuperJackpot is played on the 21st of each month at 21:21 GMT.
      70% goes to the Prize pool for the current drawing:
      There are four winning categories in the Lottery: two with fixed winnings and two with accumulated Jackpot.<br/>
      2 - 2 SJP / The number of Players who matched 2 numbers <br/>
      3	- 20 SJP / The number of Players who matched 3 numbers<br/>
      4	- 50 SJP / The number of Players who matched 4 numbers	<br/>
      5 - 50% / Jackpot<br/>
      First, fixed winnings are calculated for 2 and 3 guessed numbers. After that, the rest of the Prize pool is divided equally between the categories 4 and 5  (Jackpot). If there were no Winners in these two categories, then the Prize pools of these categories will be transferred to the next draw Jackpot Prize pool.
      9% are used to cover technical and operating expenses.
      <hr/>
      <p><b>Casting</b></p>
      The translation of the drawing is conducted on the site SUPERJACKPOT.ONLINE
      <hr/>
      <p><b>Taxes</b></p>
      SJP Lotto does not act as a tax agent. The responsibility to pay taxes lies with the Owner of the cryptocurrency wallet to which the winnings were transferred – SJP Wallet.
      <hr/>
      <p><b>Agreement</b></p>
      By participating in the SJP Lotteries, you agree to the SJP Lotteries rules. By purchasing the SJP Lotteries tickets, you guarantee that you are 18 years of age and/or you have reached the minimum age for legally participating in the Lottery in your country of residence.
    </div>

    <div  *ngIf="lottery_description == 3">
      <p>The 6x45 SJP Lottery has a minimum guaranteed Jackpot of {{jackpot_6_45_value}} SJP.</p>
      <hr/>
      <p><b>Time</b></p>
      Drawings are held daily, at 09:00 and 21:00 GMT.
      The time of the current drawing is indicated on the Lottery ticket. Ticket sales end 15 minutes before the drawing. After that time, any tickets purchased will be played in the following drawing.
      <hr/>
      <p><b>Participation & Rules</b></p>
      To participate in the Lottery, you need to choose 6 numbers from 1 to 45 in your Lottery ticket, or select the Random icon to allow the random number generator to choose the numbers for you. The number of tickets that you can buy is almost unlimited. However, using automated software tools for buying tickets or filling them out is prohibited. The cost of one ticket is 1 SJP. Your Prize will be automatically transferred to your SJP Wallet in SJP. Later you can transfer your funds to another online wallet or to fiat. You can get more info about it as well as about SJP Wallet in section “My Tokens”.
      <hr/>
      <p><b>Distribution of Funds</b></p>
      The price of one ticket  -  3 SJP
      Funds collected from ticket sales for each drawing are distributed as follows:
      21% of the Prize pool is always transferred to the SuperJackpot Prize Fund.
      SuperJackpot is played on the 21st of each month at 21:21 GMT.
      70% goes to the Prize pool for the current drawing:
      Win combinations in which in one field 2, 3, 4, 5 or 6 numbers from 45 coincide with winning numbers.
      Those participants who guessed the 2 numbers receive 3 SJP each. The remaining Prize pool is distributed in the following percentage:<br/>
      3	- 24% of the Prize Pool / The number of Players who matched 3 numbers<br/>
      4	- 14% of the Prize Pool / The number of Players who matched 4 numbers<br/>
      5	- 26% of the Prize Pool / The number of Players who matched 5 numbers	<br/>
      6	- 36% of the Prize Pool – Jackpot<br/>
      Guessing 6 numbers, You get a Jackpot! The Jackpot is accumulated. Therefore, if no one guesses 6 numbers in the current draw, the accumulated amount goes to the next draw Jackpot Prize pool. In category 3, 4, 5 the winning amount is divided by the number of Winners in this category. If there are no Winners in any of these categories, then the Prize pool of these categories also goes to the Jackpot of the following drawing.
      9% are used to cover technical and operating expenses.
      <hr/>
      <p><b>Casting</b></p>
      The translation of the drawing is conducted on the site SUPERJACKPOT.ONLINE
      <hr/>
      <p><b>Taxes</b></p>
      SJP Lotto does not act as a tax agent. The responsibility to pay taxes lies with the Owner of the cryptocurrency wallet to which the winnings were transferred – SJP Wallet.
      <hr/>
      <p><b>Agreement</b></p>
      By participating in the SJP Lotteries, you agree to the SJP Lotteries rules. By purchasing the SJP Lotteries tickets, you guarantee that you are 18 years of age and/or you have reached the minimum age for legally participating in the Lottery in your country of residence.
      </div>

    <div *ngIf="lottery_description == 4">
      Lottery with an increased prize fund, which is 91% of each ticket purchased.<br/>
      The Rapidos Lottery has a minimum guaranteed Jackpot of {{rapidos_value}} SJP and to win a Jackpot, you just need to guess 8 numbers out of 20 in the first part of the field and one number in four - in the second part.
      <hr/>
      <p><b>Time</b></p>
      Drawings are held every 15 minutes. The time of the current drawing is indicated on the Lottery ticket. Ticket sales end 1 minute before the drawing.
      The price of one ticket  -  1 SJP
      <hr/>
      <p><b>How to play</b></p>
      In a ticket - only one playing field, consisting of two parts (the first and second).<br/>
      • You need to choose 8 non-repeating numbers from 1 to 20 in the first part of the playing field and one number from 1 to 4 - in the second part.<br/>
      • By ticking Random icon in the ticket, you choose auto-complete: in this case a random combination of numbers will be chosen.<br/>
      • To participate in several runs, specify their number in a special column.<br/>
      • After selecting the numbers, go to the payment. Either continue to choose tickets. Then pay all together.<br/>
      When the ticket is issued - You are among the contenders for the victory. Congratulations!<br/>
      <hr/>
      <p><b>What can be won?</b></p>

      In Rapid SJP there are 9 categories of winnings.<br/>
      All winnings, except for the Jackpot, are fixed. The minimum winnings are 1 SJP.<br/>

    <table class="table">
      <thead>
        <tr colspan="3">
          <th>You can win in Rapidos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Guessed the numbers in the first part of the field</td>
          <td>Guessed the numbers in the second part of the field</td>
          <td>You win</td>
        </tr>
        <tr>
          <td>8</td>
          <td>1</td>
          <td>Jackpot</td>
        </tr>
        <tr>
          <td>8</td>
          <td>0</td>
          <td>1 000 SJP</td>
        </tr>
        <tr>
          <td>7</td>
          <td>1</td>
          <td>150 SJP</td>
        </tr>
        <tr>
          <td>7</td>
          <td>0</td>
          <td>50 SJP</td>
        </tr>
        <tr>
          <td>6</td>
          <td>1</td>
          <td>30 SJP</td>
        </tr>
        <tr>
          <td>6</td>
          <td>0</td>
          <td>10 SJP</td>
        </tr>
        <tr>
          <td>5</td>
          <td>1</td>
          <td>5 SJP</td>
        </tr>
        <tr>
          <td>5</td>
          <td>0</td>
          <td>2 SJP</td>
        </tr>
        <tr>
          <td>4</td>
          <td>1</td>
          <td>1 SJP</td>
        </tr>
      </tbody>
    </table>
    The Jackpot is received by the one who guessed 8 numbers in the first part of the field and one number in the second. The minimum guaranteed Jackpot is 2100 SJP. It is accumulative. Therefore, if no one guesses the combination of the draw in the current draw, the accumulated amount goes to the next draw.
    <hr/>
    <p><b>Casting</b></p>
    The translation of the drawing is conducted on the site SUPERJACKPOT.ONLINE
    <hr/>
    <p><b>Taxes</b></p>
    SJP Lotto does not act as a tax agent. The responsibility to pay taxes lies with the Owner of the cryptocurrency wallet to which the winnings were transferred – SJP Wallet.
    <hr/>
    <p><b>Agreement</b></p>
    By participating in the SJP Lotteries, you agree to the SJP Lotteries rules. By purchasing the SJP Lotteries tickets, you guarantee that you are 18 years of age and/or you have reached the minimum age for legally participating in the Lottery in your country of residence.
    </div>

    <div *ngIf="lottery_description == 5">
      Lottery with an increased prize fund, which is 91% of each ticket purchased.<br/>
    The Two Numbers  Lottery is one of the most simple and popular Lotteries in the world since ancient times.
    <hr/>
    <p><b>Time</b></p>
    Drawings are held every 15 minutes. The time of the current drawing is indicated on the Lottery ticket. Ticket sales end 1 minute before the drawing.
    The price of one ticket  -  2 SJP
    <hr/>
    <p><b>How to play</b></p>
    In a ticket - only one playing field, consisting of two parts (the first and second). <br/>
    • You need to choose 1 numbers from 1 to 100 in the first part of the playing field and one number from 1 to 8 - in the second part.<br/>
    • To participate in several runs, specify their number in a special column.<br/>
    • After selecting the numbers, go to the payment. Either continue to choose tickets. Then pay all together.<br/>
    When the ticket is issued - You are among the contenders for the victory. Congratulations!<br/>
    <hr/>
    <p><b>What can be won?</b></p>
    The Jackpot is received by the one who guessed one number in the first part of the field and one number in the second.
    <table class="table">
      <thead>
        <tr colspan="3">
          <th>You can win in Two Numbers Lottery</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Guessed the numbers in the first part of the field</td>
          <td>Guessed the numbers in the second part of the field</td>
          <td>You win</td>
        </tr>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>Jackpot</td>
        </tr>
        <tr>
          <td>1</td>
          <td>0</td>
          <td>150 SJP</td>
        </tr>
      </tbody>
    </table>
    First, fixed winnings are calculated for 1 guessed number. After that, the rest of the Prize pool transferees to Jackpot and distributes equally among the Winners. The Jackpot is accumulative. Therefore, if there were no Winners in these two categories, then the Prize pool will be transferred to the next draw Jackpot Prize pool.
    <hr/>
    <p><b>Casting</b></p>
    The translation of the drawing is conducted on the site SUPERJACKPOT.ONLINE
    <hr/>
    <p><b>Taxes</b></p>
    SJP Lotto does not act as a tax agent. The responsibility to pay taxes lies with the Owner of the cryptocurrency wallet to which the winnings were transferred – SJP Wallet.
    <hr/>
    <p><b>Agreement</b></p>
    By participating in the SJP Lotteries, you agree to the SJP Lotteries rules. By purchasing the SJP Lotteries tickets, you guarantee that you are 18 years of age and/or you have reached the minimum age for legally participating in the Lottery in your country of residence.
    </div>

    <div *ngIf="lottery_description == 6">
    Lottery with an increased prize fund, which is 91% of each ticket purchased.
    The 24/12 SJP Lottery has a minimum guaranteed Jackpot of {{prize_jackpot_value }} SJP and  this is the only lottery where you can win a Jackpot without guessing a single number. Also the Jackpot is received by those who guess 12 numbers from 24.
    <p><b>Time</b></p>
    Drawings are held every 15 minutes. The time of the current drawing is indicated on the Lottery ticket. Ticket sales end 1 minute before the drawing.
    The price of one ticket  -  1 SJP
    <hr/>
    <p><b>How to play</b></p>
    The ticket Prize&Jackpot Lottery consists of one field with numbers from 1 to 24. <br/>
    • Select 12 non-repeating numbers from 1 to 24.<br/>
    • By ticking Random icon in the ticket, you choose auto-complete: in this case a random combination of numbers will be chosen.<br/>
    • To participate in several runs, specify their number in a special column.<br/>
    • After selecting the numbers, go to the payment. Either continue to choose tickets. Then pay all together.<br/>
    When the ticket is issued - You are among the contenders for the victory. Congratulations!
    <hr/>
    <p><b>How to increase the chances?</b></p>
    The chance of winning the lottery is regarded as one to 4.5. This is one of the highest figures among lotteries.
    <p>Now multiply the winnings! To do this, select the multiplier (maximum - 100).
    It will multiply all your winnings, except for the Jackpot.</p>
    <p>Also you can choose the number of runs in which your ticket will participate. The maximum number of runs is 100.</p>
    <hr/>
    <p><b>What can be won?</b></p>
    Winners are considered to be combinations in which 0, 1, 2, 3, 4, 8, 9, 10, 11 or 12 numbers coincide with the numbers in the draw. All winnings, except for the Prize and the Jackpot, are fixed. The minimum winnings are 2 SJP.

    <table class="table">
      <thead>
        <tr colspan="2">
          <th>You can win in Prize&Jackpot Lottery</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Guessed the numbers</td>
          <td>You win</td>
        </tr>
        <tr>
          <td>0 or 12 guessed numbers</td>
          <td>50% of the Prize pool / Jackpot</td>
        </tr>
        <tr>
          <td>1 or 11 guessed numbers</td>
          <td>50% of the Prize pool / Prize</td>
        </tr>
        <tr>
          <td>2 or 10 guessed numbers</td>
          <td>25 SJP</td>
        </tr>
        <tr>
          <td>3 or 9 guessed numbers</td>
          <td>5 SJP</td>
        </tr>
        <tr>
          <td>4 or 8 guessed numbers</td>
          <td>2 SJP</td>
        </tr>
      </tbody>
      <tr colspan="2">
        <td>Combinations in which 5, 6 and 7 numbers have coincided, do not win.</td>
      </tr>
    </table>
    The minimum guaranteed Jackpot is 2100 SJP. It is accumulative. First, fixed winnings are calculated. After that, the rest of the Prize pool is divided equally between the categories Prize and Jackpot. If there were no Winners in these two categories, then the Prize pools of these categories will be transferred to the next draw Jackpot Prize pool.
    <hr/>
    <p><b>Casting</b></p>
    The translation of the drawing is conducted on the site SUPERJACKPOT.ONLINE
    <hr/>
    <p><b>Taxes</b></p>
    SJP Lotto does not act as a tax agent. The responsibility to pay taxes lies with the Owner of the cryptocurrency wallet to which the winnings were transferred – SJP Wallet.
    <hr/>
    <p><b>Agreement</b></p>
    By participating in the SJP Lotteries, you agree to the SJP Lotteries rules. By purchasing the SJP Lotteries tickets, you guarantee that you are 18 years of age and/or you have reached the minimum age for legally participating in the Lottery in your country of residence.
    </div>
    <hr>
    <p>Upon registering on SUPERJACKPOT lottery portal, you will be prompted to connect your SUPERJACKPOT account to the WalletSpace wallet; connect it at once if you have one already or start with creating your WalletSpace account and then connect your new wallet with the lottery service.</p>
    <p>Your funds and gambling tokens are managed in «My Tokens» section.  Here you can access the following features:<br/>
       <span style="margin-left: 10px;">•	Available tokens count data</span><br/>
       <span style="margin-left: 10px;">•	Lottery tokens purchase</span><br/>
       <span style="margin-left: 10px;">•	Current WalletSpace balance</span><br/>
       <span style="margin-left: 10px;">•	WalletSpace balance top up</span><br/>
       <span style="margin-left: 10px;">•	WalletSpace funds withdrawal to other accounts</span><br/>
       <span style="margin-left: 10px;">•	Market data on SJP exchange rates against other major crypto and fiat currencies (USD, EUR, GBP, BTC, ETH and others)</span><br/>
       <span style="margin-left: 10px;">•	Other WalletSpace features</span></p>
      <p>The prize is transferred to winner’s WalletSpace account automatically.<p>
      <p><i><u>Note:</u> Tokens are purchased for SJP cryptocurrency with an exchange rate of 1:1.</i></p>
      <p><i><u>Note:</u> Please be aware that the lottery service owners are only responsible for Gambling Tokens level. Service owners do not take any responsibility for cryptocurrencry and fiat transactions.</i></p>
      <p><i><u>Note:</u> SJP is purchased at Wallet Space with an exchange rate of 1 SJP:1 GBP. </i></p>
      <p>To play the lottery, you will have to buy at least one ticket. Tickets are purchased for gambling tokens. Tokens are bought for SJP cryptocurrency at 1:1 exchange rate, with SJP coming from  your WalletSpace account. Use WalletSpace account tools (which are also available right from the lottery service portal) to top up wallet balance with your debit card and convert it to SJP.</p>
      <p>Should you win, the payoff will be automatically transferred to your WalletSpace account in SJP. Winner has several options for managing funds:<br/>
      <span style="margin-left: 10px;">a.	Transfer funds to a digital wallet with crypto support (Wirex, SpectroCoin) and order a debit card issued by the wallet provider.</span><br/>
      <span style="margin-left: 10px;">b.	Use the exchange feature of your WalletSpace account to convert the funds to one of available crypto or fiat currencies. </span><br/>
      <span style="margin-left: 10px;">c.	Convert WalletSpace funds using third party exchange services. Transaction time depends on the service, but usually does not exceed 30 minutes.</span></p>
      <p>You can withdraw your WalletSpace money to your bank account and cash out at ATM or your bank branch.  If you chose to get a pre-paid debit card issued by certain digital wallet providers (such as Wirex, SpectroCoin), you may withdraw your cash only at ATMs (might not be available in certain countries).</p>
      <p><i><u>Note:</u> All steps until cash withdrawal are performed online. Transaction speed is determined by specific services availability and load, but usually operations happen immediately.</i></p>
      <h5>How to withdraw winnings to a bank account</h5>
      <table class="table">
        <thead>
          <tr>
            <th>Approach</th>
            <th>Algorithm of actions</th>
            <th>Comments, restrictions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>WalletSpace SJP conversion + funds transfer to the bank account</td>
            <td>1.	Exchange SJP to fiat of choice<br/>2.	Transfer funds from WalletSpace to your debit card<br/>3.	Withdraw cash from ATM or in your bank branch(optional)</td>
            <td>Exchange and transfer operations are performed with  WalletSpace account tools.</td>
          </tr>
          <tr>
            <td>WalletSpace SJP conversion + funds transfer to Wirex or SpectroCoin account</td>
            <td>1.	Exchange SJP to any currency supported by Wirex or SpectroCoin <br/>2.	Withdraw cash from ATM (optional)</td>
            <td>•	Not all cryptocurrencies are currently supported by Wirex and SpectroCoin <br/> •	Due to ambiguous legal status of cryptocurrencies in some countries, there might be troubles with ordering or using Wirex or SpectroCoin debit cards.</td>
          </tr>
          <tr>
            <td>WalletSpace SJP conversion + funds transfer to Wirex or SpectroCoin account + bank account transfer</td>
            <td>1.	Exchange SJP to any currency supported by Wirex or SpectroCoin <br/>2.	Transfer funds to a bank debit card 3.	Withdraw cash from ATM or in your bank branch (optional)</td>
            <td>•	Not all cryptocurrencies are currently supported by Wirex and SpectroCoin <br/>•	Due to ambiguous legal status of cryptocurrencies in some countries, there might be difficulties ordering or using Wirex or SpectroCoin debit cards</td>
          </tr>
          <tr>
            <td>SJP conversion with third party exchange services </td>
            <td>Conversion process is specific for each exchange service, but generally  looks like this:  <br/>	 1.	Funds are transferred to exchange service wallet.<br/> 2.	Funds are transferred back to WalletSpace account in the currency of choice.</td>
            <td>•	Transaction time depends on the service, but usually doesn’t take more than 30 minutes<br/> •	Refund policy mostly depends on the integrity of service.<br/> •	Some exchange services may have better currency conversion rates.</td>
          </tr>
        </tbody>
      </table>
  </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
<app-language-bar></app-language-bar>
