<!--<h1>Private Office</h1>
<a (click)="logOut()" href="/home">LogOut</a>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">SuperJackpot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/privateOffice">Buy Ticket!<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="my-bets">My Bets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="my-tokens">My Tokens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="wallet">Wallet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="my-statistics">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="faq">FAQ</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()" href="/home">Logout</a>
        </li>
      </ul>
    </div>
</nav>

<div class="buyContainer">

<!--<div class="ticketDiv" id="ticketContainer">
  <div class="form-row">
    <div class="col">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Lottery/Jackpot</label>
      <select class="form-control" id="exampleFormControlSelect1">
          <option>Lottery</option>
          <option>Jackpot</option>
        </select>
      </div>
      <div class="col">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Type</label>
        <select class="form-control" id="exampleFormControlSelect2">
            <option>5x36</option>
            <option>6x45</option>
            <option>4x20</option>
            <option>7x49</option>
        </select>
      </div>
      <div class="col">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Quantity</label>
        <input class="form-control" type="number" min ="1">
      </div>
  </div>
</div>-->

<!--<table class="table" id="ticketContainer">
  <thead>
    <tr>
      <th scope="col" style="width: 300px">Lottery/Jackpot</th>
      <th scope="col" style="width: 200px">Type</th>
      <th scope="col" style="width: 100px">Quantity</th>
      <th scope="col" ></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">
        <select class="form-control" (change)="calculateCost()">
          <option>Lottery</option>
          <option>Jackpot</option>
        </select>
      </th>
      <th scope="col">
        <select class="form-control" (change)="calculateCost()">
            <option>5x36</option>
            <option>6x45</option>
            <option>4x20</option>
            <option>7x49</option>
        </select>
      </th>
      <th scope="col">
        <input class="form-control" type="number" value="1" (change)="calculateCost()" min ="1">
      </th>
      <th scope="col"></th>
    </tr>
  </tbody>
</table>


<br>
<button type="button" class="btn btn-dark btn-right" (click)="addTicket()">Add tickets</button>
<hr>
<p>{{ cost }} tokens</p>-->
<div class="row">
  <div class="col">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/img/5_36.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lottery 5x36</h5>
        <p class="card-text">Description</p>
        <input id="lottery_5x36" class="form-control" type="number" value="0" (change)="calculateCost()" min ="0">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/img/6_45.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lottery 6x45</h5>
        <p class="card-text">Description</p>
        <input id="lottery_6x45" class="form-control" type="number" value="0" (change)="calculateCost()" min ="0">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/img/4_20.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lottery 4x20</h5>
        <p class="card-text">Description</p>
        <input id="lottery_4x20" class="form-control" type="number" value="0" (change)="calculateCost()" min ="0">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/img/7_49.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lottery 7x49</h5>
        <p class="card-text">Description</p>
        <input id="lottery_7x49" class="form-control" type="number" value="0" (change)="calculateCost()" min ="0">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/img/j_5_36.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jackpot 5x36</h5>
        <p class="card-text">Description</p>
        <input id="jackpot_5x36" class="form-control" type="number" value="0" (change)="calculateCost()" min ="0">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/img/j_6_45.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jackpot 6x45</h5>
        <p class="card-text">Description</p>
        <input id="jackpot_6x45" class="form-control" type="number" value="0" (change)="calculateCost()" min ="0">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/img/j_4_20.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jackpot 4x20</h5>
        <p class="card-text">Description</p>
        <input id="jackpot_4x20" class="form-control" type="number" value="0" (change)="calculateCost()" min ="0">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/img/j_7_49.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jackpot 7x49</h5>
        <p class="card-text">Description</p>
        <input id="jackpot_7x49" class="form-control" type="number" value="0" (change)="calculateCost()" min ="0">
      </div>
    </div>
  </div>
</div>

<hr>
<p class="text-right">{{cost }} tokens</p>
<hr>
<p class="text-right"><button type="button" (click)="buy()" class="btn btn-dark btn-lg">Buy!</button></p>
</div>
