<div class="header">
  <table style="margin-left: 50px;">
    <tr>
      <td><img src="assets/img/logo_small.png" alt="logo"></td>
      <td style="padding-top: 5px;"><h2><b>SUPER</b>JACK<b>POT</b></h2></td>
    </tr>
  </table>
</div>

<div class="container">
  <table class="page-content">
    <tr>
      <td>
        <div id="navbar">
        <p><a routerLink="/home">Home</a></p>
        <p><a routerLink="/login">Log in</a></p>
        <p><a routerLink="/register">Registration</a></p>
        <p><a routerLink="/about" style="color: grey">Rules</a></p>
        <p><a routerLink="/public-statistics">Statistics</a></p>
        <!--<p><a href="/status">Status</a></p>-->
        </div>
    </td>
    <td class="banner-cell" colspan="3">
        <div>
          <img src="assets/img/title_banner.png" id="titleBanner">
        </div>
    </td>
  </tr>
</table>
</div>
