<div class="main-nav gilroy-extra-bold">
  <p><a class="main-nav-item gilroy-extra-bold" routerLink="/home" [ngStyle]="{'color': href === '/home' ? 'grey' : 'black' }">Home</a></p>
  <p><a class="main-nav-item gilroy-extra-bold" routerLink="/login">Log in</a></p>
  <p><a class="main-nav-item gilroy-extra-bold" routerLink="/register">Registration</a></p>
  <p><a class="main-nav-item gilroy-extra-bold" routerLink="/about" [ngStyle]="{'color': href === '/about' ? 'grey' : 'black' }">Rules</a></p>
  <p><a class="main-nav-item gilroy-extra-bold" routerLink="/public-statistics" [ngStyle]="{'color': href === '/public-statistics' ? 'grey' : 'black' }">Statistics</a></p>
</div>
