<div class="cube">
  <div class="side" id="side-1"><img style="width: inherit;" src="assets/img/4_21.png"></div>
  <div class="side" id="side-2"><img style="width: inherit;" src="assets/img/7_49.png"></div>
  <div class="side" id="side-3"><img style="width: inherit;" src="assets/img/5_36.png"></div>
  <div class="side" id="side-4">4</div>
  <div class="side" id="side-5">5</div>
  <div class="side" id="side-6"><img style="width: inherit;" src="assets/img/j_6_45.png"></div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="brd">
      <img src="assets/img/logo_small.png" alt="logo" align="right" style="padding: 30px;">
      <br>
      <div style="padding: 30px 80px 35px 80px;">
        <h1 style="font-size: 30px; padding-bottom: 15px;"><strong>Log in</strong></h1>
        <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
        <form (ngSubmit)="onLogin()" novalidate>
         <div class="form-group">

           <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="user.email" name="email" required>
         </div>
         <div class="form-group">

           <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
         </div>

         <button type="submit" class="btn btn-dark"><strong>Sigh in</strong></button>
        </form>

        <p style="padding-top: 15px;"><a href="/register" style="color:#000;">Not registered yet?</a></p>
    </div>
    </div>
  </div>
</div>
