<!--<div class="header">
  <table style="margin-left: 20px;">
    <tr>
      <td><img src="assets/img/logo_small.png" alt="logo"></td>
      <td style="padding-top: 5px;"><a  tabindex="-1" href="/#"><h5 style="cursor: pointer; color=black;" class="gilroy-light"><span class="gilroy-extra-bold">SUPER</span>JACK<span class="gilroy-extra-bold">POT</span></h5></a></td>
    </tr>
  </table>
  <p style="font-size: 1em; padding-top: 0px; padding-left: 20px;">BLOCKCHAIN LOTTERY</p>
</div>-->
<app-header></app-header>

  <table class="page-content">
    <tr>
      <td width="50px;" style="padding-top: 9.8%;">
        <app-navbar-registered></app-navbar-registered>
    </td>
    <td class="banner-cell"  align="center" width="100%" style="padding-top: 10%; padding-left: 16px; padding-right: 16px;">
      <app-main-bunner></app-main-bunner>
    </td>
    <td style="padding-left: 6%; padding-top: 10%;">
      <app-cube></app-cube>
    </td>
  </tr>
      <tr>
        <td style="width: 100%; padding-right: 180px;"></td>
            <div class="control-group">
              <div style="width: 887px">


              </div>
            </div>
      </tr>

    </table>
<app-language-bar></app-language-bar>
