<div class="header">
  <table style="margin-left: 20px;">
    <tr>
      <td><img src="assets/img/logo_small.png" alt="logo"></td>
      <td style="padding-top: 5px; color=black;"><a routerLink="/privateOffice"><h5 style="cursor: pointer;"><b>SUPER</b>JACK<b>POT</b></h5></a></td>
    </tr>
  </table>
  <p style="font-size: 1em; padding-top: 0px; padding-left: 20px;">BLOCKCHAIN LOTTERY</p>
</div>

  <table class="page-content">
    <tr>
      <td width="50px;" style="padding-top: 9.8%;">
        <app-navbar-registered></app-navbar-registered>
    </td>
    <td class="banner-cell"  align="center" width="100%" style="padding-top: 10%; padding-left: 16px; padding-right: 16px;">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 887px;">
        <!--<ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>-->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/bannermega_1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block banner-text ">
              <p>{{superjackpot_value}} SJP</p>
            </div>
          </div>
          <!--<div class="carousel-item">
            <img class="d-block w-100" src="assets/img/bannermega_3.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block banner-text ">
              <p>{{superjackpot_value}} SJP</p>
            </div>
          </div>-->
        </div>
      </div>
    </td>
    <td style="padding-left: 6%; padding-top: 10%;">
      <app-cube></app-cube>
    </td>
  </tr>
      <tr>
        <td style="width: 100%; padding-right: 180px;"></td>
            <div class="control-group">
              <div style="width: 887px">


              </div>
            </div>
      </tr>

    </table>
