<div class="cube">
  <div class="side" id="side-1" (click)="buyTicketRedirect('jackpot_4x21', 'no')"><img style="width: inherit;" src="assets/img/4_21_small.jpg"></div>
  <div class="side" id="side-2" (click)="buyTicketRedirect('jackpot_6x45', 'no')"><img style="width: inherit;" src="assets/img/6_45_small.jpg"></div>
  <div class="side" id="side-3" (click)="buyTicketRedirect('jackpot_5x36', 'no')"><img style="width: inherit;" src="assets/img/5_36_small.jpg"></div>
  <div class="side" id="side-4" (click)="buyTicketRedirect('rapidos', 'no')"><img style="width: inherit;" src="assets/img/rapidos_small.jpg"></div>
  <div class="side" id="side-5" (click)="buyTicketRedirect('two_numbers', 'no')"><img style="width: inherit;" src="assets/img/two_numbers_small.jpg"></div>
  <div class="side" id="side-6" (click)="buyTicketRedirect('prize_jackpot', 'no')"><img style="width: inherit;" src="assets/img/prize_jackpot_small.jpg"></div>
</div>
