.cube {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-origin: 50% 50% -50px;
  transform-style: preserve-3d;
  animation: rotation 18s cubic-bezier(0.15,1,0.15,1) infinite;
}

.side {
  width: inherit;
  height: inherit;
  background: rgba(0,0,0,.3);
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 180%;
  box-shadow: 0 0 8px rgba(0,0,0,.5);
  transform-origin: 50% 50% -50px;
  backface-visibility: hidden;
  cursor: pointer;
}


#side-2 {
  transform: rotateY(90deg);
}

#side-3 {
  transform: rotateY(-90deg);
}

#side-4 {
  transform: rotateX(90deg);
}

#side-5 {
  transform: rotateX(-90deg);
}

#side-6 {
  transform: rotateY(180deg);
}

@keyframes rotation {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
